# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: release

on:
  push:
    branches: [ "release" ]

permissions:
  contents: write
  pull-requests: write
  repository-projects: write

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Generate release tag
      id: generate_release_tag
      uses: amitsingh-007/next-release-tag@v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        tag_prefix: 'v'
        tag_template: 'yyyy.mm.dd.i'
    - uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        automatic_release_tag: ${{ steps.generate_release_tag.outputs.next_release_tag }}
        prerelease: false
        title: Release ${{ steps.generate_release_tag.outputs.next_release_tag }}
        files: |
          README.md
          SHA256SUMS
          dist/*.*
          
          
